In [9]:
import pandas as pd 
s=pd.Series(['banaan',42])
s2=pd.Series(['Wes McKinney','Creator of Pandas'],index=['Person',"who"])
print(s)
print(s2)

0    banaan
1        42
dtype: object
Person         Wes McKinney
who       Creator of Pandas
dtype: object

In [10]:
scientists=pd.DataFrame({'Name':['Rosaline Franklin','William Gosset'],'Occupation':['Chemist','Statisician'],'Born':['1920-07-25','1876-06-13'],'Died':['1958-04-16','1937-10-16'],'Age':[37,61]})
print(scientists)

                Name   Occupation        Born        Died  Age
0  Rosaline Franklin      Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statisician  1876-06-13  1937-10-16   61

In [14]:
scientists2=pd.DataFrame(data={'Occupation':['Chemist','Statisician'],'Born':['1920-07-25','1876-06-13'],'Died':['1958-04-16','1937-10-16'],'Age':[37,61]},index=['Rosaline Franklin','William Gosset'],columns=["Occupation","Born","Died","Age"])
print(scientists2)

                    Occupation        Born        Died  Age
Rosaline Franklin      Chemist  1920-07-25  1958-04-16   37
William Gosset     Statisician  1876-06-13  1937-10-16   61

In [18]:
frist_row =scientists2.loc['William Gosset']
print(type(frist_row))

<class 'pandas.core.series.Series'>

In [19]:
print(frist_row)

Occupation    Statisician
Born           1876-06-13
Died           1937-10-16
Age                    61
Name: William Gosset, dtype: object

In [20]:
print(frist_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [21]:
print(frist_row.values)

['Statisician' '1876-06-13' '1937-10-16' 61]

In [22]:
ages=scientists2['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [23]:
print(ages.mean())

49.0

In [24]:
print(ages.describe())

count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

In [29]:
scientists3=pd.read_csv("scientists.csv")

In [32]:
age=scientists3["Age"]
print(scientists3.head())

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [35]:
print(age.max())

90

In [37]:
print(age>age.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [38]:
print(age+age)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [39]:
print(age*age)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64